<div class="card">
  <div class="card-header">
    <span>{{comment.title}}</span>
  </div>
  <div class="card-body text-dark">
    <p class="card-text" [innerHTML]="formattedText(comment.text)"></p>
    <div *ngIf="comment.tags">
      Tags: <span *ngFor="let tag of comment.tags" class="badge badge-primary mr-1">{{tag}}</span>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-light" (click)="edit.emit(comment)">Edit</button>
    <button class="btn btn-danger" (click)="delete.emit(comment)">Delete</button>
  </div>
</div>