<div class="container-fluid">
  <tag-input
      [(ngModel)]="filter"
      [modelAsStrings]="true"
      [onlyFromAutocomplete]="true"
      (onAdd)="onFilterChange($event)"
      (onRemove)="onFilterChange($event)"
      placeholder="Filter by tags..."
      secondaryPlaceholder="Filter by tags.."
      class="mb-4"
      >
    <tag-input-dropdown [autocompleteItems]="tags | async"></tag-input-dropdown>
  </tag-input>
  <div *ngFor="let comment of comments | async" class="mb-4">
    <comment [comment]="comment" [tags]="tags" (save)="onSave($event)"></comment>
  </div>
  <comment-editor [comment]="newComment" [tags]="tags" [cancelable]="false" (save)="onSave($event)" class="mb-4"></comment-editor>
</div>